<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgot_password.css">
  
</head>

<body>
    <div class="container">
        <h1>Forgot Password?</h1>
        <p>Enter your email address and we'll send you a OTP to reset your password.</p>

        <form id="forgotPasswordForm">
            <div class="input-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" required placeholder="your@email.com">
            </div>
            <button type="submit">Send Reset code</button>
        </form>

        <a href="/login" class="back-link">Back to Login</a>
    </div>

    <script>
        document.getElementById('forgotPasswordForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const Email = document.querySelector("#email").value
             localStorage.setItem("email", Email);
            const res = await fetch("/send-otp", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ Email }),
            });

            const resulttt = await res.json();
            if (res.ok) {
                window.location.href = resulttt.redirect; //we  manually redirect to log in because when you fetch something and inside that you try to redirect then it would not happen like here we are fetching "/verify-otp"
            }

        });
    </script>
</body>

</html>