<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href='https://fonts.googleapis.com/css?family=Baloo Bhai' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div id='container'>
        <div id="gradient1"></div>
        <div id="front_img">
            <img id="photo1" src="/images/photo1.png" alt="nothing">
        </div>
        <nav id="navbar">
            <div class="color1">
                <img id="img" src="/images/keshab.png" alt="nothing">
            </div>
            <div class="color2">
                <a id="home" href="/" name="#">Home</a>
                <a id="profile" href="/profile" name="#">Profile</a>
                <a id="menu" href="/menu" name="#">Menu</a>
                <a id="about_us" href="/aboutus" name="#">About us</a>
                <a id="log_in" href="/login" name="#">Log in</a>
                <a id="book" href="/book-a-table" name="#">Book a table</a>
            </div>
            <div class="color3">
                <a href="/contactus" name="#" id="contact">Contact us</a>
                <a href="/cart" name="#" id="cart">cart</a>

            </div>

            <div id="div-imggg">
                <img class="imggg" src="/images/user.png" alt="nothing">
                <div class="info">
                    <!-- <a class="link" href="">My profile</a>
                      <a class="link"href="">My orders</a>
                      <a class="link" href="">Coupons </a>  
                      <a class="link" href="">Notifications</a>
                      <a class="link" href="">Log out</a> -->

                </div>
            </div>
        </nav>

        <section id="content">
            <div id="diff_color">
                <h1 id="h1">WELCOME TO OUR</h1>
                <h1 id="re">RESTAURANT</h1>
            </div>

            <h3 id="dis">DISCOVER</h3>
            <h2 id="h2" data-aos="fade-up" data-aos-duration="1500" dta-aos-delay="400">THE TASTE OF PERFECTION</h2>
            <h3 class="h3">Stay Updated with Our Blog
                for the Latest Trends and Insights</h3>
        </section>
    </div>

    <h1 id="about" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="100">ABOUT KESHAB'S RESTUARANT</h1>
    <div id="div22">
        <img class="img-of-div22" src="/images/picture2.jpeg" alt="">
        <div class="about_headline">
            <h1>Welcome to keshab's restuarant, where culinary excellence
                meets exceptional service.
                Located in the heart of bhubaneswar, we offer a delightful
                blend of traditional
                and contemporary dishes crafted with the finest ingredients.
                Whether you're
                here for a casual meal or a special occasion, our warm and
                inviting atmosphere
                makes every visit memorable. Join us and savor the flavors
                of keshab's restuarant.</h1>
            <a href="/aboutus"><img id="arrow-img" src="/images/arrow.png" alt></a>
        </div>
    </div>
    <h1 id="int">RESTAURANT'S INTERIOR</h1>
    <div class="container2" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="200">
        <section class="boxes" class="gallery-item">
            <div class="gradient2"></div>
            <h2 class="nothing" data-image='https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg'>nothing
                happend</h2>
            <!-- <button class="visit">visit now</button> -->
            <img class="imageboxes" src="https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg" alt="nohing">
            <div class="gallery-caption">
                <h3>Grand Entrance</h3>
                <p>A warm welcome awaits</p>
            </div>
        </section>
        <section class="boxes" class="gallery-item">
            <div class="gradient2"></div>
            <h2 class="nothing" data-image="https://images.pexels.com/photos/262047/pexels-photo-262047.jpeg">DINING
                AREA</h2>
            <img class="imageboxes" src="https://images.pexels.com/photos/262047/pexels-photo-262047.jpeg" alt="nohing">
            <div class="gallery-caption">
                <h3>Main Dining Room</h3>
                <p>Our spacious dining area with natural lighting</p>
            </div>
        </section>
        <section class="boxes" class="gallery-item">
            <div class="gradient2"></div>
            <h2 class="nothing" data-image="https://images.pexels.com/photos/1581384/pexels-photo-1581384.jpeg">BAR
                AREA</h2>
            <img class="imageboxes" src="https://images.pexels.com/photos/1581384/pexels-photo-1581384.jpeg"
                alt="nohing">
            <div class="gallery-caption">
                <h3>Craft Cocktail Bar</h3>
                <p>Handcrafted drinks in an intimate setting</p>
            </div>
        </section>
        <section class="boxes" class="gallery-item">
            <div class="gradient2"></div>
            <h2 class="nothing" data-image="https://images.pexels.com/photos/262978/pexels-photo-262978.jpeg">KITCHEN
            </h2>
            <img class="imageboxes" src="https://images.pexels.com/photos/262978/pexels-photo-262978.jpeg" alt="nohing">
            <div class="gallery-caption">
                <h3>Chef's Kitchen</h3>
                <p>Watch our culinary team create masterpieces</p>
            </div>
        </section>
    </div>
    <div id="lightbox" class="lightbox">
        <span class="close-lightbox" onclick="closeLightbox()">&times;</span>
        <div class="lightbox-content">
            <img id="lightbox-img" src="" alt="">
        </div>
    </div>
    <p id="menu2" data-aos="fade-right" data-aos-duration="1500" dta-aos-delay="400">EXPLORE OUR MENU</p>
    <!-- <div id="container3">
        <section class="container3_sec" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="150">
            <img class="cont3_sec_img" src="photo3.png" alt="">
            <div class="text_area">
                <h1 class="not1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat qui ipsa vel minima
                    neque vero.
                    Magnam mollitia explicabo voluptate beatae suscipit consectetur?</h1>
                <h1 id="not2">nothing about</h1>
            </div>
        </section>
        <section class="container3_sec" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="150">
            <img class="cont3_sec_img" src="photo3.png" alt="">
            <div class="text_area">
                <h1 class="not1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum ea porro eos
                    veritatis neque nulla,
                    aliquid magni, optio exercitationem accusamus repellendus quia rem ex consequatur modi!</h1>
                <h1>nothong about</h1>
            </div>
        </section>
    </div> -->
    <div class="div5 swiper">
        <div class="slider-wrapper">
            <div class="div7 swiper-wrapper ">
                <section class="section swiper-slide">
                    <div id="gradient3"></div>
                    <img class="nothing4" alt="nothing"
                        src="https://images.unsplash.com/photo-1533622597524-a1215e26c0a2?fm=jpg&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHZlZ2V0YXJpYW4lMjBmb29kfGVufDB8fDB8fHww&ixlib=rb-4.1.0&q=60&w=3000">
                    <p class="text" data-aos="zoom-in" data-aos-duration="1200" data-aos-delay="300">Craving something
                        spicy, sweet, or crispy? We have something tasty for everyone. Enjoy the real taste of food by
                        placing your order now</p>
                    <a href="/menu"><button class="button" data-aos="zoom-in" data-aos-duration="1200"
                            data-aos-delay="300">ORDER
                            NOW</button></a>
                </section>
                <section class="section swiper-slide">
                    <div id="gradient3"></div>
                    <img class="nothing4" alt="nothing"
                        src="https://images.unsplash.com/photo-1543353071-087092ec393a?fm=jpg&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGxhbnQlMjBiYXNlZCUyMGZvb2R8ZW58MHx8MHx8fDA%3D&ixlib=rb-4.1.0&q=60&w=3000">
                    <p class="text" data-aos="zoom-in" data-aos-duration="1200" data-aos-delay="300">Craving something
                        spicy, sweet, or crispy? We have something tasty for everyone. Enjoy the real taste of food by
                        placing your order now</p>
                    <a href="/menu"><button class="button" data-aos="zoom-in" data-aos-duration="1200"
                            data-aos-delay="300">ORDER
                            NOW</button></a>
                </section>
                <section class="section swiper-slide">
                    <div id="gradient3"></div>
                    <img class="nothing4" alt="nothing"
                        src="https://plus.unsplash.com/premium_photo-1675865717689-a612f9a725c5?fm=jpg&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bm9uJTIwdmVnJTIwZm9vZHxlbnwwfHwwfHx8MA%3D%3D&ixlib=rb-4.1.0&q=60&w=3000">
                    <p class="text" data-aos="zoom-in" data-aos-duration="1200" data-aos-delay="300">Craving something
                        spicy, sweet, or crispy? We have something tasty for everyone. Enjoy the real taste of food by
                        placing your order now</p>
                    <a href="/menu"><button class="button" data-aos="zoom-in" data-aos-duration="1200"
                            data-aos-delay="300">ORDER
                            NOW</button></a>
                </section>
                <section class="section swiper-slide">
                    <div id="gradient3"></div>
                    <img class="nothing4" alt="nothing"
                        src="https://assets.zeezest.com/images/PROD_3_1662611644161.jpg">
                    <p class="text" data-aos="zoom-in" data-aos-duration="1200" data-aos-delay="300">Craving something
                        spicy, sweet, or crispy? We have something tasty for everyone. Enjoy the real taste of food by
                        placing your order now</p>
                    <a href="/menu"><button class="button" data-aos="zoom-in" data-aos-duration="1200"
                            data-aos-delay="300">ORDER
                            NOW</button></a>
                </section>
                <section class="section swiper-slide">
                    <div id="gradient3"></div>
                    <img class="nothing4" alt="nothing" src="/images/photo5.png">
                    <p class="text" data-aos="zoom-in" data-aos-duration="1200" data-aos-delay="300">Craving something
                        spicy, sweet, or crispy? We have something tasty for everyone.Enjoy the real taste of food by
                        placing your order now</p>
                    <a href="/menu"><button class="button" data-aos="zoom-in" data-aos-duration="1200"
                            data-aos-delay="300">ORDER
                            NOW</button></a>
                </section>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <div id="container4">
        <h1 id="services" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="150">OUR SERVICES</h1>

        <details>
            <summary>Customer Services</summary>
            <ul>
                <li>Exceptional customer services provided by knowledgeable and friendly staff to enhance the dining
                    experience.</li>
                <li>Handling customer complaints and feedback effectively to ensure satisfaction</li>
            </ul>
        </details>

        <details>
            <summary>Reservation Services</summary>
            <ul>
                <li>Allowing customers to reserve tables in advance to ensure availability, often managed via phone or
                    online systems.</li>
            </ul>
        </details>

        <details>
            <summary>Special Menus and Dietary Options</summary>
            <ul>
                <li>Offering special menus for holidays or events, as well as accommodating dietary preferences such as
                    vegan, gluten-free, or allergen-free options.</li>
            </ul>
        </details>

        <details>
            <summary>Bar Services</summary>
            <ul>
                <li>Offering a selection of alcoholic beverages, often including a specialized cocktail menu, wine list,
                    and beer selection.</li>
            </ul>
        </details>
    </div>

    <footer class="site-footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3>About Us</h3>
                <p>Keshab's Restaurant is dedicated to providing an exceptional dining experience with premium quality
                    food and outstanding service in Bhubaneswar.</p>
            </div>

            <div class="footer-section">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="/"><i class="fas fa-chevron-right"></i> Home</a></li>
                    <li><a href="/aboutus"><i class="fas fa-chevron-right"></i> About</a></li>
                    <li><a href="/contactus"><i class="fas fa-chevron-right"></i> Contact</a></li>
                    <li><a href="/menu"><i class="fas fa-chevron-right"></i> Menu</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Contact Info</h3>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> NH-5, BBSR, Odisha 751003, India</li>
                    <li><i class="fas fa-phone"></i> +91 7608826206</li>
                    <li><i class="fas fa-envelope"></i> keshabg500@gmail.com</li>
                    <li><i class="fas fa-clock"></i> Open: 11AM - 11PM (Mon-Sun)</li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Follow Us</h3>
                <p>Stay connected with us on social media for updates and special offers.</p>
                <div class="social-links">
                    <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy;
                <script>document.write(new Date().getFullYear())</script> Keshab's Restaurant. All Rights Reserved. | <a
                    href="/privacy" style="color: var(--light-color);">Privacy Policy</a> | <a href="/terms"
                    style="color: var(--light-color);">Terms of Service</a>
            </p>
        </div>
    </footer>


    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="script.js"></script>

    <script>

        const savedimg = localStorage.getItem("savedImage")
        if (savedimg) {
            document.querySelector(".imggg").src = savedimg
        }
        document.addEventListener("DOMContentLoaded", async function () {
            const response = await fetch('/user');
            const data = await response.json();
            console.log(data)
            if (data.success) {

                document.querySelector("#div-imggg").style.display = "block";
                document.querySelector("#profile").style.display = "inline";
                document.querySelector("#log_in").style.display = "none";

            }
        })

    </script>

    <script>
        document.querySelector("#div-imggg").addEventListener("click", () => {
            let infoElement = document.querySelector(".info");
            if (infoElement.style.display === "none") {
                const info = ` 
                   <a class="link" href="/profile">My profile</a>
                   <a class="link"href="/cart">My Cart</a>
                   <a class="link" href="/aboutus">Aboutus </a>
                   <a class="link" href="/menu">Menu</a>
                   <a class="link" href="/contactus">Contactus</a>
                   <a class="link" href="/book-a-table">Book a table</a>
                   <a class="link" href="/logout">Log out</a>
            `
                document.querySelector(".info").innerHTML = info;

                infoElement.style.display = "flex";
            } else {
                infoElement.style.display = "none";
            }
        })


        document.addEventListener('DOMContentLoaded', function () {
            // Get all gallery items
            const imageboxes = document.querySelectorAll('.imageboxes');
            const lightbox = document.getElementById('lightbox');
            const lightboxImg = document.getElementById('lightbox-img');
            const closeBtn = document.querySelector('.close-lightbox');

            // Add click event to each gallery item
            imageboxes.forEach(item => {
                item.addEventListener('click', function () {
                    const imageUrl = item.src
                    openLightbox(imageUrl);
                });
            });

        })
        //for restaurant interior
        function openLightbox(imageSrc) {
            const lightbox = document.getElementById('lightbox');
            const lightboxImg = document.getElementById('lightbox-img');

            lightboxImg.src = imageSrc;
            lightbox.style.display = 'flex';
            document.body.style.overflow = 'hidden';
        }

        function closeLightbox() {
            document.getElementById('lightbox').style.display = 'none';
            document.body.style.overflow = 'auto';
        }

        // Close lightbox when clicking outside image
        window.addEventListener('click', function (event) {
            const lightbox = document.getElementById('lightbox');
            if (event.target === lightbox) {
                closeLightbox();
            }
        });

    </script>
</body>

</html>
